/**
 * Post grid styles
 * Loads on front end and back end
 */
 @import '../common';

 .entry-content {
	 .ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: .3s ease;
		}
	}
 }
 .ptam-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.is-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;

		article {
			margin-bottom: 2.5em;
		}
	}

	.is-grid.columns-1 {
		grid-template-columns: 1fr;
	}

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.ptam-pagination {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;

			& > span,
			& > a {
				display: inline-block;
				padding: 5px 10px;
				margin: 0 4px 0 0;
				border: 1px solid #eee;
				line-height: 1;
				text-decoration: none;
				border-radius: 2px;
				font-weight: 600;
			}
			& > span:hover,
			& > a:hover {
				background: #f9f9f9;
			}
			& > span.current {
				background: #f9f9f9;
			}
		}
	}

	div[class*="columns"].is-grid {
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.ptam-post-grid-items .has_thumb .ptam-block-post-grid-image {

	}

	.ptam-block-post-grid-image {
		margin: 10px 0;
		img {
			display: inline-block;
		}
	}
	.is-list .ptam-block-post-grid-image {
		margin-top: 0;
	}

	.ptam-block-post-grid-text {
		text-align: left;
	}

	.ptam-block-post-grid-image .avatar {
		height: auto;
		width: inherit;
		border-radius: 0;
	}
	
	.ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: .3s ease;
		}
	}

	.ptam-block-post-grid-byline {
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		color: $lightgray;
		margin-bottom: 15px;
	}

	.ptam-text-lower-case {
		text-transform: none;
	}

	.ptam-block-post-grid-author,
	.ptam-block-post-grid-date {
		display: inline-block;

		&:not(:last-child):after {
			content: "\B7";
			vertical-align: middle;
			margin: 0 5px;
			line-height: 1;
		}
	}

	.ptam-block-post-grid-author a {
		box-shadow: unset;

		&:hover {
			color: inherit;
			text-decoration: none;
			box-shadow: unset;
		}
	}

	.ptam-block-post-grid-text p {
		margin: 0 0 15px 0;
		line-height: 1.5;
		font-size: 18px;

		@media only screen and (max-width: 600px) {
			font-size: 16px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.ptam-block-post-grid-link {
		display: inline-block;
		box-shadow: none;
		transition: .3s ease;
		font-weight: bold;
		color: #000;

		&:hover {
			box-shadow: 0 -2px 0 inset;
		}
	}

	.ptam-block-post-grid-excerpt div + p {
		margin-top: 15px;
	}

	.is-list {
		article {
			display: grid;
			grid-template-columns: 30% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
			&:not(:last-child) {
				margin-bottom: 5%;
				padding-bottom: 5%;
			}

			@media only screen and (min-width: 600px) {
				&:not(:last-child) {
					border-bottom: solid 1px #eee;
				}
			}

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}
		}
		&.is-custom article {
			display: block;
			grid-template-columns: 100% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
		}

		.ptam-block-post-grid-image {
			margin-bottom: 0;

			@media only screen and (max-width: 600px) {
				margin-bottom: 5%;
			}
		}
		h1.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 38px;
			}
			margin-top: 10px 0;
		}
		h2.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h3.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h4.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 28px;
			}
			margin-top: 10px 0;
		}
		h5.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 22px;
			}
			margin-top: 10px 0;
		}
		h6.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 18px;
			}
			margin-top: 10px 0;
		}

		.no-thumb .ptam-block-post-grid-text {
			grid-column: span 1;
		}
	}
}
button.ptam-media-alt-upload.components-button {
	margin-bottom: 20px;
}
button.ptam-media-alt-reset.components-button {
	margin: 15px 0;
}