/**
 * Post grid styles
 * Loads on front end and back end
 */
 @import '../common';

 .entry-content {
	 .ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: .3s ease;
		}
	}
 }
 .ptam-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.is-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
		column-gap: 2em;
		line-height: 1.1;

		article {
			margin-bottom: 2.5em;
		}
	}

	.is-grid.columns-1 {
		grid-template-columns: 1fr;
	}

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	div[class*="columns"].is-grid {
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.ptam-post-grid-items .has_thumb .ptam-block-post-grid-image {

	}

	.ptam-block-post-grid-image {
		margin: 10px 0;
		img {
			display: inline-block;
		}
	}
	.is-list .ptam-block-post-grid-image {
		margin-top: 0;
	}

	.ptam-block-post-grid-text {
		text-align: left;
	}

	.ptam-block-post-grid-image .avatar {
		height: auto;
		width: inherit;
		border-radius: 0;
	}

	.ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: .3s ease;
		}
	}

	.ptam-block-post-grid-byline {
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		color: $lightgray;
		margin-bottom: 15px;
	}

	.ptam-text-lower-case {
		text-transform: none;
	}

	.ptam-block-post-grid-author,
	.ptam-block-post-grid-date {
		display: inline-block;

		&:not(:last-child):after {
			content: "\B7";
			vertical-align: middle;
			margin: 0 5px;
			line-height: 1;
		}
	}

	.ptam-block-post-grid-author a {
		box-shadow: unset;

		&:hover {
			color: inherit;
			text-decoration: none;
			box-shadow: unset;
		}
	}

	.ptam-block-post-grid-text p {
		margin: 0 0 15px 0;
		line-height: 1.5;
		font-size: 18px;

		@media only screen and (max-width: 600px) {
			font-size: 16px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.ptam-block-post-grid-link {
		display: inline-block;
		box-shadow: none;
		transition: .3s ease;
		font-weight: bold;
		color: #000;

		&:hover {
			box-shadow: 0 -2px 0 inset;
		}
	}

	.ptam-block-post-grid-excerpt div + p {
		margin-top: 15px;
	}

	.is-list {
		article {
			display: grid;
			grid-template-columns: 30% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
			&:not(:last-child) {
				margin-bottom: 5%;
				padding-bottom: 5%;
			}

			@media only screen and (min-width: 600px) {
				&:not(:last-child) {
					border-bottom: solid 1px #eee;
				}
			}

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}
		}
		&.is-custom article {
			display: block;
			grid-template-columns: 100% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
		}

		.ptam-block-post-grid-image {
			margin-bottom: 0;

			@media only screen and (max-width: 600px) {
				margin-bottom: 5%;
			}
		}
		h1.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 38px;
			}
			margin-top: 10px 0;
		}
		h2.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h3.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h4.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 28px;
			}
			margin-top: 10px 0;
		}
		h5.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 22px;
			}
			margin-top: 10px 0;
		}
		h6.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 18px;
			}
			margin-top: 10px 0;
		}

		.no-thumb .ptam-block-post-grid-text {
			grid-column: span 1;
		}
	}
}
button.ptam-media-alt-upload.components-button {
	margin-bottom: 20px;
}
button.ptam-media-alt-reset.components-button {
	margin: 15px 0;
}
/* Search Styles */
.ptam-term-select,
.ptam-term-exclude {
	.woocommerce-search-list__selected-header {
		button {
			display: block;
			margin: 1em 0;
		}
	}
	.woocommerce-search-list__selected {
		margin-bottom: 15px;
	}
	.woocommerce-tag.has-remove {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #FFF;
		padding: 10px 20px;
		border: 1px solid #EEE;
		color: #000;

		.woocommerce-tag__remove {
			display: block;
			align-self: flex-end;
		}
	}
}

/* Term Grid */
.ptam-term-grid-loading {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	h1 {
		width: 100%;
		text-align: center;
	}
}
.ptam-term-grid {
	/* Grid Fallback */
	position: relative;
	display: flex;
	flex-wrap: wrap;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
	justify-items: center;

	&.columns-1 {
		grid-template-columns: 1fr;
	}

	&.columns-2 {
		grid-template-columns: 1fr 1fr;
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}

	&.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}

	&.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}
	.ptam-term-grid-anchor-full {
		position: absolute;
		z-index: 3;
		display: block;
		width: 100%;
		height: 100%;
	}

	.ptam-term-grid-item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		min-height: 300px;
		width: 100%;
		background: #24292d;
		color: #FFF;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		padding: 20px;
		overflow: hidden;
		transition: background-color 0.5s ease;
		word-break: break-all;

		/* Flex Fallback */
		margin-left: 5px;
		margin-right: 5px;
		flex: 1 1 300px;

		.ptam-term-grid-item-content {
			position: relative;
			z-index: 2;
		}
		.ptam-term-grid-button {
			display: inline-block;
			background-color: #32373c;
			color: #FFF;
			border: none;
			border-radius: 28px;
			font-weight: 500;
			box-shadow: none;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			margin: 0;
			margin-top: 1em;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			overflow-wrap: break-word;
			transition: background-color 0.5s ease;
		}
		h2 {
			color: #FFFFFF;
			font-size: 2.2em;
		}
		.ptam-term-grid-item-description {
			font-size: 1.4em;
			line-height: 1.5em;
		}
	}
}

/* Featured Post Styles */
.ptam-fp-wrapper {
	.ptam-fp-term {
		margin-bottom: 20px;
		span {
			display: inline-block;
		}
	}
	.ptam-featured-post-item {
		padding-bottom: 1.3em;
		border-bottom: 1px solid #DDD;
		&:last-child {
			border-bottom: 0;
		}
	}
	.ptam-featured-post-meta {
		.entry-title {
			font-weight: 700;
			line-height: 1.4em;
			margin: 1em 0;
			a {
				color: #000000;
				text-decoration: none;
				&:hover {
					color: #000000;
					text-decoration: none;
				}
			}
		}
		.entry-meta {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 1em;
			font-size: 12px;
			.author-name {
				a {
					font-weight: 700;
					color: #6c6c6c;
					text-decoration: none;
					&:hover {
						color: #333;
						text-decoration: none;
					}
					&:before {
						font-family: 'PTAM';
						content: '\e71e';
						display: inline-block;
						margin-right: 2px;
					}
				}
			}
			.post-date {
				color: #6c6c6c;
				&:before {
					font-family: 'PTAM';
					content: '\e789';
					display: inline-block;
					margin-right: 2px;
				}
			}
			.post-comments {
				color: #000;
				&:before {
					font-family: 'PTAM';
					content: '\e7d6';
					display: inline-block;
					margin-right: 2px;
				}
			}
		}
	}
	.ptam-featured-post-content {
		line-height: 1.2em;
		margin: 1em 0;
	}
	.ptam-featured-post-button {
		a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			:hover {
				text-decoration: none;
			}
		}
	}
	/* Uncomment to have a zoom effect on hover.
	.ptam-featured-post-image {
		overflow: hidden;
		img {
			transition: transform .8s;
			&:hover {
				transform: scale( 1.1 );
			}
		}
	}*/
}

.ptam-pagination,
body.has-blocks .fl-post-content .ptam-pagination {
	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;

		& > span,
		& > a {
			display: inline-block;
			padding: 5px 10px;
			margin: 0 4px 0 0;
			border: 1px solid #eee;
			line-height: 1;
			text-decoration: none;
			border-radius: 2px;
			font-weight: 600;
		}
		& > span:hover,
		& > a:hover {
			background: #f9f9f9;
		}
		& > span.current {
			background: #f9f9f9;
		}
	}
}
.ptam-apply {
	margin-top: 15px;
	margin-bottom: 20px;
}
.ptam-term-select .woocommerce-search-list__selected,
.ptam-term-exclude .woocommerce-search-list__selected {
	display: none;
}
.ptam-term-select .components-base-control__field,
.ptam-term-exclude .components-base-control__field {
	display: none;
}
