
.ptam-admin-reading-cpt {
	margin-bottom: 1.2em;
	h3 {
		margin-top: 0.2em;
	}
}
.ptam-admin-wrap {
	h1 {
		vertical-align: middle;
	}
}
.ptam-admin-logo {
	vertical-align: middle;
	img {
		max-width: 50px;
	}
}
